

  <link rel="stylesheet" href="/styles/adminLogin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">



<body>
  <div class="login-container">
    <h2>ADMIN LOGIN</h2>
    <hr class="line">
    <form action="/admin/login" method="post" >
      <div class="input-box">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Email or Phone" id="Username" required>
      </div>
      <div class="input-box">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" id="password" required>
      </div>
      <div class="btn-group">
        <button type="submit">login</button>
        <a href="#" class="lost-pass">lost password?</a>
      </div>
    </form>
    <hr class="line">
  </div>
</body>
