<link rel="stylesheet" href="/styles/userHome.css">

<body>
  <header>
    <nav class="navbar">
      <div class="logo">--BLESS</div>
      <ul class="nav-links">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="logout-btn"><a href="/user/logout">Logout</a></li>

      </ul>
    </nav>

    <div class="hero-content">
      <h1>Welcome</h1>
      <p> You are the  <span class="highlight">HERO in your world</span></p>
      <a href="#" class="btn">STAY POSITIVE</a>
    </div>
  </header>
</body>


